header{
    display: flex;
    align-items: center;
    background-color: rgb(12, 12, 12);
    margin: 0px;
    padding:0.5rem 3rem;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
    color: gold;
    gap: 1rem;
    font-size: 2rem;
    text-shadow: 5px 5px 15px yellow, -5px -5px 15px yellow;
}
.left img{
    height: 3rem;
    width:5rem;
}
ul{
    display: flex;
    gap: 5rem;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color:rgb(221, 167, 29);
}
ul li a:hover{
   color: gold;
   font-size: 1.7rem;
   text-shadow: 3px 3px 10px yellow, -3px -3px 10px yellow;
}